
/* Custom Base */
@tailwind base;
/* Custom Components */
@tailwind components;
/* Custom Utilities */
@tailwind utilities;
/* Custom screens */
@tailwind screens;

/** custom theme **/
/*-------------------*/

$mainfont: 'Avenir Next';
.mainfont{ font-family: $mainfont; }

/* Variables colors theme */
$dark-1: #333333;
$dark-2: #4f4f4f;
$dark-3: #717171;
$light-1: #F2F2F2;
$light-2: #E0E0E0;
$light-3: #BDBDBD;

$primary: #FEC33C;
$secondary: #242424;

.dark-1{color:  $dark-1!important;}
.dark-2{color:  $dark-2!important;}
.dark-3{color:  $dark-3!important;}
.light-1{color:  $light-1!important;}
.light-2{color:  $light-2!important;}
.light-3{color:  $light-3!important;}

.primary{color:  $primary;}
.second{color:  $secondary;}

/* Background colors theme*/
.bg-primary{ background-color: $primary;}
.bg-second{ background-color: $secondary;}

.h-95{
  height: 100%;
  @media(min-width:1024px){
    height: 96.5vh;
  }
}
.h-83{
  height: 82.5vh;
  @media(max-width:1024px){
    height: 76vh;
  }
  @media(max-width:600px){
    height: 71vh;
  }
}
.h-82{
    height: 83vh;
}

/* Settings body theme*/
html {
    scroll-behavior: smooth;
}
body,
.body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: normal;
    word-break: keep-all;
    hyphens: none;
    font-family: $mainfont;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.03em;
    color: $dark-3;
    mix-blend-mode: normal;
    .container{ 
      max-width: 1140px;
    }
}
.post, .page {
  margin: 0;
  position: relative;
}

*, ::before, ::after {
    outline: none!important;
}

/* help class*/
.lead{
    font-size: 18px;
    line-height: 30px;
    line-height: 140%;
    color:$dark-2;
}

.overline{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $dark-2;
}
.caption{
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: $dark-2;
}

/** heading **/
/*-------------------*/
.display-1,
.display-2,
h1, .h1, .title-1,
h2, .h2, .title-2,
h3, .h3, .title-3,
h4, .h4, .title-4,
h5, .h5, .title-5,
h6, .h6, .title-6{
    font-style: normal;
    font-weight: bold;
    font-family: $mainfont;
    line-height: 130%;
    letter-spacing: -0.05em;
    color: $dark-1;
    margin-top:10px;
    margin-bottom: 24px;
}

h1, .h1, .title{
  font-size: 48px;
  line-height: 130%;
  @media(max-width: 768px){
    font-size: 32px;
  }
  @media(max-width: 468px){
      font-size: 24px;
    }
}

h2, .h2, .title-2{
  font-size: 32px;
  line-height: 110%;
  @media(max-width: 768px){
    font-size: 24px;
    line-height: 90%;
  }
}
h3, .h3, .title-3{
  font-size: 24px;
  line-height: 110%;
  @media(max-width: 768px){
    font-size: 18px;
    line-height: 130%;
  }
}
h4, .h4, .title-4{
  font-size: 20px;
  line-height: 110%;

}
h5, .h5, .title-5{
  font-size: 18px;
  line-height: 140%;
}
h6, .h6, .title-6{
  font-size: 16px;
  line-height: 140%;
}

  a{
    font-family: $mainfont;
    text-decoration: none;
    &:hover{
      outline: none!important;
      cursor: pointer;
      color:$primary!important;
    }
    &:focus,
    &:active,
    &:hover{
      outline: none!important;
      cursor: pointer;
      color:$primary!important;
    }
    &:visited{
      cursor: pointer;
      color: inherit!important;
      &:hover{
        color:$primary!important;;
      }
    }
  }

  /** entry content **/
/*-------------------*/
.entry-header{
  .entry-title{
    margin-bottom: 16px;
  }
}
.entry-content{
    position: relative;
    padding-bottom:30px;

    .title{
      display: block;
    }
    p{
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 500;
        color: $dark-3;
        mix-blend-mode: normal;
        line-height: 1.6;
        width: 100%;
    }
  
    ul{
        color: $dark-2;
        padding-left: 24px;
        margin-left: 30px;
        font-family: $mainfont;
        width: 100%;
        li{
          position: relative;
          color: $dark-2;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 14px;
          opacity: 1;
    
          &::before{
            position: absolute;
            top: 12px;
            left: -24px;
            font-family: 'Material Icons';
            content: "\e3fa";
            color: $primary;
            margin-right: 10px;
            font-size: 9px;
            line-height: 0;
          }
        }
        ul{
          margin-top:10px;
          margin-left: 0;
          li{
            &::before{
              position: absolute;
              top: 12px;
              left: -24px;
              font-family: 'Material Icons';
              content: "\e40c";
              color: $dark-3;
              margin-right: 10px;
              font-size: 9px;
              line-height: 0;
            }
          }
        }
    }
}

/** btn **/
/*-------------------*/
.btn{
    position: relative;
    display:inline-flex;
    align-items: center;
    justify-content: center;
      font-family: $mainfont;
      font-style: normal;
      font-weight: bold;
      font-size: 16px!important;
      text-decoration: none!important;
      line-height: 1;
      color: #ffffff!important;
      padding: 16px 39px;
      border-radius: 6px;
      min-width:186px;
      height: 60px;
      text-align: center;
      background-color: $secondary;
      border: none;
      transition: ease-in-out 0.5s;
      box-shadow: 0px 1px 3px rgba(255, 206, 30, 0.1), 0px 0px 1px rgba(255, 206, 30, 0.05);
      &:hover{
        cursor: pointer;
        background-color: $primary!important;
        color: #ffffff!important;
      }
      &:visited{
        color: #ffffff!important;
      }
      @media(max-width: 468px){
        margin: 0 auto;
      }
  
    }

/*-----------------------------
    Footer
-----------------------------*/
.footer{
  @apply flex flex-wrap;
  background-color: $secondary;
  position: relative;
  z-index:99;
  .footer-police{
      @apply py-4;
      @screen lg {
          @apply justify-between;
      }
      @media(max-width:425px){
        a{
          margin-bottom: 10px;
          &::last-child{
            margin-bottom: 0;
          }
        }
      }

      .footer-police__copy p,
      .footer-police__submenu a{
          font-family: $mainfont;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          color: $light-3;
          letter-spacing: -0.03em;

      }
      .footer-police__copy{
          @apply w-full flex flex-wrap items-center;
          justify-content: flex-end;
          color: $light-3;
          padding: 0 15px;
      }
      .footer-police__submenu{
          @apply w-full flex flex-wrap items-center;
          justify-content: flex-start;
          padding: 0 15px;
          a{
            color: $light-3!important;
            letter-spacing: -0.03em;
            &:hover{
              color:$primary!important;
            }
            &:after{
              content:'-';
              padding: 0 8px;
              color: $light-3!important;
            }
            &:last-child{
              &:after{
                content:'';
                padding: 0;
              }
            }
          }
      }

      .footer-police__copy,
      .footer-police__submenu{
        @media(max-width:600px){
          justify-content: center;
        }
        @media(max-width:600px){
          justify-content: center;
        }
      }

  }
}

/*-----------------------------
    header
-----------------------------*/
header{
  position: relative;
  z-index: 99;
}
.site-header{
  padding-top: 60px;
  .site-header__logo{
    position: relative;
    .custom-logo{
      width: 160px;
    }
  }
}

/*-----------------------------
    form
-----------------------------*/
.form{
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 2px 4px rgba(48, 49, 51, 0.1);
  border-radius: 4px;
  padding: 43px 70px 27px 70px;
  @media (max-width:768px){
    margin-top: 45px;
  }
  @media (max-width:468px){
    padding: 24px;
  }
}
.gform_heading{
  margin-bottom: 0!important;
  .gform_title{
    font-family: $mainfont;
    font-size: 24px!important;
    font-weight: 600!important;
    line-height: 160%;
    letter-spacing: -0.03em!important;
    color: $dark-1;
    margin: 0!important;
  }
}
.gform_wrapper {
  margin-top:0!important;
  margin-bottom:0!important;
  @media(max-width:1024px){
    margin-left:16px;
    width: 100%;
  }
  @media(max-width:468px){
    margin-left:0;
  }

  ul li.gfield {
    position:relative;
    margin-top:20px!important;
    .ginput_container{
      margin-top:0!important;
    }
    &.gf_left_half,
    &.gf_right_half{
      padding-right: 20px!important;
      @media(max-width:468px){
        padding-right:0!important;
      }
    }
 
  }

    input[type="text"], 
    input[type="email"], 
    input[type="url"], 
    input[type="password"], 
    input[type="search"], 
    input[type="number"], 
    input[type="tel"], 
    input[type="range"], 
    input[type="date"], 
    input[type="month"], 
    input[type="week"], 
    input[type="time"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="color"], 
    textarea {
      color: $dark-1;
      font-weight: 500;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      filter: drop-shadow(0px 0px 1px rgba(48, 49, 51, 0.05));
      background-color: transparent;
      background-image:none!important;
      border-radius: 6px;
      padding: 6px 12px!important;
      height: 60px;
      outline:0;
    }
    textarea {
      max-height: 134px;
    }

  label.gfield_label,
  legend.gfield_label{
      font-family: $mainfont;
      font-style: normal;
      font-weight: 500!important;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.03em;
      color: $dark-3;
      position:absolute;
      top: 20px;
      left:10px;
      pointer-events: none;
      transition: all 0.3s ease;
      z-index: 10;
  }

  .gfield.active label {
    top: -8px;
    background-color:#ffffff;
    padding:0 5px;
  }

  .gform_footer {
    margin-top:0!important;
    .gform_button{
      @apply btn ;
      font-size: 16px!important;
      @media(max-width:468px){
        padding: 0px 39px;
      }
  
    }
  }
}

/*-----------------------------
    Home
-----------------------------*/
/*--- logo ---*/
.logo-home{
  .custom-logo{
    width: 160px;
    padding-bottom: 5.5rem;
    @media(max-width:768px){
      padding-bottom: 2.5rem;
    }
  }
  @media(max-width:768px){
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


/*--- background ---*/
.bg-home{
  position:absolute;
  top:0;
  bottom:0;
  right: 0;
  width: 100%;
  height: auto;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 62%;
  @media(max-width:1024px){
    display: none;
  }
}
.bg-home-tablet{
  display:none;
  @media(max-width:1024px){
    display: flex;
    position:absolute;
    top:15%;
    right: 0;
    bottom:0;
    width: 100%;
    height: auto;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 51%;
  }
  @media(max-width:1020px){
    background-size: 82%;
  }
  @media(max-width:768px){
    background-size: 100%;
  }
  @media(max-width:600px){
    display: none;
  }

}

.bg-home-mobile{
  display:none;
  @media(max-width:600px){
    display: flex;
    position: absolute;
    top: 12%;
    bottom:0;
    right: 0;
    width: 100%;
    height: auto;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 100% 72%;
  }

}

/*--- list logos ---*/
.list-logos{
  margin-top: 30px;
  .item-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img{
      max-width: 108px;
      @media(max-width:478px){
        max-width: 92px;
      }
    }
  }
}
/*--- 404 ---*/
.bg-404{
  position:absolute;
  top:0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  background-position: 104% 0;
  background-repeat: no-repeat;
  background-size: 66%;
  @media(max-width:1024px){
    background-position: 120% 0;
    background-size: 80%;
  }
  @media(max-width:991px){
    display: none;
  }
}

.content-404{
  position: relative;
  .num-404{
    position: absolute;
    top:-76px;
    font-weight: 800;
    font-size: 144px;
    line-height: 130%;
    letter-spacing: 0.2em;
    color: $light-1;
    @media(max-width: 768px){
      top: -26px;
      margin-left: 26px;
    }
    @media(max-width: 600px){
      top: -10px;
      margin-left: 19px;
      font-size: 100px;
    }
  }
  .title{
    font-size: 48px!important;
    @media(max-width: 600px){
      font-size: 32px!important;
    }
  }
  p{
      margin-bottom: 30px;
  }
  @media(max-width: 600px){
    padding-left:30px;
    padding-right:30px;
  }
}

/*--- confirmation ---*/
.bg-confirmation{
  position:absolute;
  top:0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  @media(max-width:1024px){
    background-position: 100% 81%;
    background-size: 84%;
  }
  @media(max-width:468px){
    background-position: 100% 85%;
    background-size: 84%;
  }

}

.content-confirmation{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 2px 4px rgba(48, 49, 51, 0.1);
  border-radius: 4px;
  padding: 125px 0;
  @media(max-width: 768px){
    padding: 74px 30px;
  }
  @media(max-width: 600px){
    padding: 66px 30px;
  }
  .icon-confirmation{
    width: 68px;
    margin-bottom: 24px;
  }
  p{
    margin-bottom: 30px;
  }
}